<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
</html>
<section class="page500">
  <div class="container">
    <div class="row">
		  <div class="col-md-12 sign_up-sec login-sec">
		    <h2 class="text-center">Erreur 500</h2>
        <div class="form-group">
          <h4  class="text-center"> La page que vous recherchez n'existe pas.
          <p>Tu as peut être mal copié l'adresse de l'url, essaye encore une fois.</p></h4>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
