<!DOCTYPE html>
<html>
<head>
  <title>Erreur 404</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h2>ERREUR 404</h2>
      <p>La page que vous recherchez n'existe pas.</p>
      <p>Vous avez peut être mal copié l'adresse de l'url, veuillez recommencer.</p>
    </div>
</body>
</html>
