<h1>Search Result</h1>

<% if @search.nil? %>

    <p> No records Found</p>

<%else%>

  <% @search.each do |c| %>

    <div class="div">
      <p><%= c.title%></p>
      <p><%= c.description%></p>
      <p><%= c.image%></p>
<p> AHHAHAHAHAHAHAHHAH</p>
        <% for i in 0...c.categories.count %>
      <p><%= c.categories[i].name%></p>
        <% end %>
<p> AHHAHAHAHAHAHAHHAH</p>
    </div>

  <%end%>
<%end%>
