<p>Salut <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un lien pour changer ton mot de passe. Tu peux le faire via le lien ci-dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'es pas à l'origine de cette demande, merci d'ignorer cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu n'auras pas accéder au formulaire de réactualisation de mot de passe et que tu en auras créé un nouveau.</p>
